@import url('https://fonts.googleapis.com/css?family=Poppins:300, 400, 600');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700');

$robotomono: 'Roboto Mono', monospace;
$poppins: 'Poppins', sans-serif;

$yellow: #ffdc30;
$pink: #fcdfd7;
$green-dark: #0d664e;
$green-medium: #45916a;
$green-light: #9fd2ba;
$bluegreen-darker: #1e3437;
$bluegreen-dark: #026666;
$bluegreen-medium: #24b2a4;
$bluegreen-light: #8fceca;
