@import "variables";

html, body {
  max-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  background: #f7f7f7;
}

.carousel-item {
  max-height: 90vh;

  .le-caption {
    h5 {
      font-size: 3rem;
      font-family: $robotomono;
    }
    a {
      font-size: 2rem;
      color: $bluegreen-medium;

    }
  }
  .anton-caption {
    font-family: $robotomono;
    position: absolute;
    top: 13%;
    left: 50%;
    bottom: 20px;
    right: 4%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    h5 {
      font-size: 5.3rem;
    }
    h3 {
      text-transform: uppercase;
      font-size: 3rem;

    }
  }
  .agnes-caption {
    font-family: $robotomono;
    position: absolute;
    right: 5%;
    bottom: 5%;
    left: 45%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    h5 {
      font-size: 4.7rem;
    }
    h3 {
      text-transform: uppercase;
      font-size: 3rem;

    }
  }
  .martha-caption {
    font-family: $robotomono;
    position: absolute;
    top: 15%;
    right: 45%;
    bottom: 20px;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    h5 {
      font-size: 5.3rem;
    }
    h3 {
      text-transform: uppercase;
      font-size: 3rem;

    }
  }
  .blenda-caption {
    font-family: $robotomono;
    position: absolute;
    bottom: 8%;
    right: 45%;

    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    h5 {
      font-size: 7rem;
    }
    h3 {
      text-transform: uppercase;
      font-size: 4rem;
    }
  }
}

.container {

  padding: 4px 40px 27vw 40px;

  background: white;

}

#partners {
  max-width: 900px;
  margin: auto;

  .spons-box {
    width: 125px;
    height: 125px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-filter: grayscale(100%) saturate(0%);

  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;

  }
  /*
  .col-sm-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }*/
  h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: $robotomono;
    font-weight: 700;
    font-size: 2.5rem;
  }

  h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: $robotomono;
    font-weight: 700;
    font-size: 1.75rem;
  }

  #sensus {
    filter: invert(100%);
  }
  #liu {
    filter: invert(100%);
  }

  iframe {

  }
  #upplev, #sensus, #studief, #hemkop {
    max-width: 90%;
    max-height: 90%;
  }

  #raa {
    max-width: 70%;
    max-height: 70%;

  }
}

/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .partners {

    h1 {
      font-size: 3rem;
    }
  }

}

@media (max-width: 767px) {

  .carousel-item {

    .agnes-caption {
      display: block !important;
      bottom: 10px;
      h3 {
        font-size: 1rem;
      }
      h5 {
        font-size: 1rem;
      }
    }
    .le-caption {
      display: block !important;
      bottom: 15px;

      h5 {
        font-size: 1rem;
      }
      a {
        display: none;
      }
    }
    .martha-caption {
      display: block !important;
      bottom: 10px;
      h3 {
        font-size: 1rem;
      }
      h5 {
        font-size: 1rem;
      }
    }
    .anton-caption {
      display: block !important;
      top: 1%;
      h3 {
        font-size: 1rem;
      }
      h5 {
        font-size: 1rem;
      }
    }
    .blenda-caption {
      display: block !important;
      bottom: 10px;
      h3 {
        font-size: 1rem;
      }
      h5 {
        font-size: 1rem;
      }
    }
  }

  #partners {

    h1 {
      font-size: 1.6rem;
    }
    h2 {
      font-size: 1.4rem;
    }

  }

  #flower-footer {
    #logo-bottom {
      #footer-contact-row {
        visibility: hidden;
        margin-top: 0;
      }
    }

  }

}