@import "variables";

html, body {
  max-height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  background: #f7f7f7;
}

.carousel-item {
  max-height: 90vh;

  .le-caption {
    h5 {
      font-size: 3rem;
      font-family: $robotomono;
    }
    a {
      font-size: 2rem;
      color: $bluegreen-medium;

    }
  }

  .agnes-caption {
    font-family: $robotomono;
    position: absolute;
    right: 5%;
    bottom: 5%;
    left: 45%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    h5 {
      font-size: 4.7rem;
    }
    h3 {
      text-transform: uppercase;
      font-size: 3rem;

    }
  }
  .martha-caption{
    font-family: $robotomono;
    position: absolute;
    top: 15%;
    right: 45%;
    bottom: 20px;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    h5 {
      font-size: 5.3rem;
    }
    h3 {
      text-transform: uppercase;
      font-size: 3rem;

    }

  }
}

.container {

  padding: 4px 40px 27vw 40px;

  background: white;

}

#partners {
  max-width: 600px;
  margin: auto;

  img {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;

  }
  .col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: $robotomono;
    font-weight: 700;
    font-size: 2.5rem;
  }

  h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: $robotomono;
    font-weight: 700;
    font-size: 1.75rem;
  }

  #sensus {
    filter: invert(100%);
  }

  #arbis {
    max-width: 65%;
    max-height: 65%;
  }
}

/*
#logo-bottom {
  margin: auto;
  margin-top: 100px;
  max-width: 25vw;

  img {
    max-width: 100%;
    max-height: 100%;

  }
}*/

#flower-footer {
  margin-top: -18%;
  position: absolute;
  width: 100%;
  left: 0;

  #pattern {
    position: absolute;
    width: 100%;

    margin-top: -18%;

  }

  #logo-bottom {
    position: absolute;
    width: 100%;

    img {

      max-width: 25%;
      display: block;
      position: absolute;

      left: 0;
      right: 0;

      margin: auto;
      margin-top: 8.1vw;
    }
    #footer-contact-row {

      max-width: 25%;
      display: block;
      position: absolute;
      width: 8rem;
      font-size: 2rem;
      a {
        display: inline-block;
        color: black;
        &:hover,
        &:focus {
          color: $green-light;
        }
      }

      left: 0;
      right: 0;

      margin: auto;
      margin-top: 19vw;
    }
  }

}

/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .partners {

    h1 {
      font-size: 3rem;
    }
  }

}

@media (max-width: 767px) {

  .carousel-item {

    .agnes-caption {
      display: block !important;
      bottom: 10px;
      h3 {
        font-size: 1rem;
      }
      h5 {
        font-size: 1rem;
      }
    }
    .le-caption{
      display: block !important;
      bottom: 15px;


      h5{
        font-size: 1rem;
      }
      a{
        display: none;
      }
    }
    .martha-caption{
      display: block !important;
      bottom: 10px;
      h3 {
        font-size: 1rem;
      }
      h5 {
        font-size: 1rem;
      }
    }

  }

  #partners h1{

    font-size: 2rem;
  }
  #flower-footer {
    #logo-bottom {
      #footer-contact-row {
        visibility: hidden;
        margin-top: 0;
      }
    }

  }

}

