@import url("https://fonts.googleapis.com/css?family=Poppins:300, 400, 600");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700");
html, body {
  max-height: 100%; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #f7f7f7; }

.carousel-item {
  max-height: 90vh; }
  .carousel-item .le-caption h5 {
    font-size: 3rem;
    font-family: "Roboto Mono", monospace; }
  .carousel-item .le-caption a {
    font-size: 2rem;
    color: #24b2a4; }
  .carousel-item .anton-caption {
    font-family: "Roboto Mono", monospace;
    position: absolute;
    top: 13%;
    left: 50%;
    bottom: 20px;
    right: 4%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right; }
    .carousel-item .anton-caption h5 {
      font-size: 5.3rem; }
    .carousel-item .anton-caption h3 {
      text-transform: uppercase;
      font-size: 3rem; }
  .carousel-item .agnes-caption {
    font-family: "Roboto Mono", monospace;
    position: absolute;
    right: 5%;
    bottom: 5%;
    left: 45%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right; }
    .carousel-item .agnes-caption h5 {
      font-size: 4.7rem; }
    .carousel-item .agnes-caption h3 {
      text-transform: uppercase;
      font-size: 3rem; }
  .carousel-item .martha-caption {
    font-family: "Roboto Mono", monospace;
    position: absolute;
    top: 15%;
    right: 45%;
    bottom: 20px;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left; }
    .carousel-item .martha-caption h5 {
      font-size: 5.3rem; }
    .carousel-item .martha-caption h3 {
      text-transform: uppercase;
      font-size: 3rem; }
  .carousel-item .blenda-caption {
    font-family: "Roboto Mono", monospace;
    position: absolute;
    bottom: 8%;
    right: 45%;
    left: 5%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left; }
    .carousel-item .blenda-caption h5 {
      font-size: 7rem; }
    .carousel-item .blenda-caption h3 {
      text-transform: uppercase;
      font-size: 4rem; }

.container {
  padding: 4px 40px 27vw 40px;
  background: white; }

#partners {
  max-width: 600px;
  margin: auto; }
  #partners img {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block; }
  #partners .col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #partners h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 2.5rem; }
  #partners h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 1.75rem; }
  #partners #sensus {
    filter: invert(100%); }
  #partners #arbis {
    max-width: 65%;
    max-height: 65%; }

/*
#logo-bottom {
  margin: auto;
  margin-top: 100px;
  max-width: 25vw;

  img {
    max-width: 100%;
    max-height: 100%;

  }
}*/
#flower-footer {
  margin-top: -18%;
  position: absolute;
  width: 100%;
  left: 0; }
  #flower-footer #pattern {
    position: absolute;
    width: 100%;
    margin-top: -18%; }
  #flower-footer #logo-bottom {
    position: absolute;
    width: 100%; }
    #flower-footer #logo-bottom img {
      max-width: 25%;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 8.1vw; }
    #flower-footer #logo-bottom #footer-contact-row {
      max-width: 25%;
      display: block;
      position: absolute;
      width: 8rem;
      font-size: 2rem;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 19vw; }
      #flower-footer #logo-bottom #footer-contact-row a {
        display: inline-block;
        color: black; }
        #flower-footer #logo-bottom #footer-contact-row a:hover, #flower-footer #logo-bottom #footer-contact-row a:focus {
          color: #9fd2ba; }

/*************DESKTOP LAYOUT*************/
@media (min-width: 768px) {
  .partners h1 {
    font-size: 3rem; } }
@media (max-width: 767px) {
  .carousel-item .agnes-caption {
    display: block !important;
    bottom: 10px; }
    .carousel-item .agnes-caption h3 {
      font-size: 1rem; }
    .carousel-item .agnes-caption h5 {
      font-size: 1rem; }
  .carousel-item .le-caption {
    display: block !important;
    bottom: 15px; }
    .carousel-item .le-caption h5 {
      font-size: 1rem; }
    .carousel-item .le-caption a {
      display: none; }
  .carousel-item .martha-caption {
    display: block !important;
    bottom: 10px; }
    .carousel-item .martha-caption h3 {
      font-size: 1rem; }
    .carousel-item .martha-caption h5 {
      font-size: 1rem; }
  .carousel-item .anton-caption {
    display: block !important;
    top: 1%; }
    .carousel-item .anton-caption h3 {
      font-size: 1rem; }
    .carousel-item .anton-caption h5 {
      font-size: 1rem; }
  .carousel-item .blenda-caption {
    display: block !important;
    bottom: 10px; }
    .carousel-item .blenda-caption h3 {
      font-size: 1rem; }
    .carousel-item .blenda-caption h5 {
      font-size: 1rem; } }
#partners h1 {
  font-size: 2rem; }

#flower-footer #logo-bottom #footer-contact-row {
  visibility: hidden;
  margin-top: 0; }

/*# sourceMappingURL=index.css.map */
