@import "variables";

html, body {
  height: 100%;
}

body {
  background: #f7f7f7;
}

.container {

  //outline: 30px solid white;
  background: white;

}

#info-section {

  h1 {
    font-family: $robotomono;
    font-weight: 700;
    color: $bluegreen-darker;
    /*margin-bottom: 120px;
    font-size: 3rem;
    color: white;
    font-family: $robotomono;
    font-weight: 700;
    background: #1e3437;
    display: inline-block;*/
  }
  h2 {
    font-family: $robotomono;
    font-weight: 700;
  }
  h3 {
    font-family: $robotomono;
    font-weight: 500;
  }

  p {
    font-family: $poppins;
    font-weight: 300;
  }
}

#contact-row {
  width: 200px;
  font-size: 3rem;
  a {
    color: $bluegreen-dark;
    &:hover,
    &:focus {
      color: $pink;
    }
  }
}

#flower-header {

  margin-top: -150px;
  max-width: 100%;
  margin-bottom: -750px;

  img {
    width: 100%;
  }

}

#flower-footer {
  display: block;
  margin-right: auto;
  margin-left: auto;

  max-width: 100%;
  margin-top: -350px;
  //margin-bottom: -300px;
  bottom: 0;

  img {
    width: 100%;
  }

}

#logo-bottom {
  max-width: 25vw;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  z-index: 1000;

  img {
    max-width: 100%;
    max-height: 100%;

  }
}

/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {

    padding: 40px 200px 4px 200px;
  }

  #logo-bottom {
    max-width: 20vw;
  }
}

@media (min-width: 1200px){
  #flower-footer {
    max-width: 1140px;
  }
}

/*

@media (min-width: 992px)
.container {
  max-width: 960px;
}
@media (min-width: 768px)
.container {
  max-width: 720px;
}
@media (min-width: 576px)
.container {
  max-width: 540px;
}*/