@import "variables";

$caption-color: $bluegreen-darker;

body {
  background: #f7f7f7;

}

.container {
  padding: 4px 4px 25vw 4px;
  //outline: 30px solid white;
  background: white;

}

#spotify-siderbar-large-screens, #spotify-siderbar-medium-screens, #spotify-siderbar-mobile-screens {
  display: none;

}

.col-lg-4, .col-lg-8 {
  border: 1px solid white;
  z-index: 100;

}

.tba {
  text-align: center;
  &:hover {
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    .tba-text {
      opacity: 1;
    }
  }

  .tba-text {
    font-size: 4rem;
    position: relative;
    top: 40%;
    font-family: $robotomono;
    font-weight: 600;

    &:after {
      transform: translateY(-40%);
    }
  }
  .listen-text {
    font-size: 3rem;
    position: relative;
    top: 25%;
    font-family: $robotomono;
    font-weight: 600;

    &:after {
      transform: translateY(-25%);
    }
  }
}

.text-accent {
  color: $yellow;
}

figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 0;

  text-align: center;
  cursor: pointer;
  img {
    position: relative;
    display: block;

    max-width: 100%;
    opacity: 1;
  }

  figcaption {
    // Ta bort markerbar text
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */

    color: #fff;
    background: #fff;
    text-transform: uppercase;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &::before,
    figure figcaption::after {
      pointer-events: none;

    }

  }
  figcaption,
  figcaption > a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  h2 {
    font-family: $poppins;
    font-weight: 300;
  }
  h2,
  p {
    margin: 0;
  }
  p {
    letter-spacing: 1px;
    //font-size: 68.5%;
  }
}

/*---------------*/
/***** Effect *****/
/*---------------*/

figure {
  figcaption {
    top: auto;
    bottom: 0;
    padding: 1.25rem;
    height: 4rem;
    font-size: 1.25rem;
    color: #1F3437;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);

  }

  h2 {
    float: left;
    display: inline-block;
    font-size: 1.5rem;
  }
  p.icon-links a {
    float: right;
    color: #0E664E;
    //font-size: 1.4em;
  }
  p.description {

    font-family: $robotomono;
    left: 0;
    position: absolute;
    //bottom: 5em;
    padding: 0 1.4em;
    color: #fff;
    text-transform: none;
    font-size: 80%;
    opacity: 0;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  h2,
  p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
  p.icon-links a {
    display: inline-block;
    padding: 0 0.5rem;
    margin-top: -0.1rem;
    padding-bottom: 0.1rem;

  }

  &:hover p.icon-links a:hover,
  &:hover p.icon-links a:focus {
    color: #A0D1BB;
  }

  &:hover p.description {
    opacity: 1;
  }
  &:hover img {

    opacity: 0.8;
    filter: brightness(50%);
    -webkit-transform: translateY(-3.75em);
    transform: translateY(-3.75em);

    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in;
    transition-property: transform, opacity, filter;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;

  }

  &:hover figcaption,
  &:hover h2,
  &:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }

  &:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  &:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }

  &:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

}

.artist-1 {

  background: url("../img/Instagram-rutor-1.jpg");
  background-size: contain;
  figcaption {
    padding: 1.325rem 1.25rem;
    h2 {
      font-size: 1.35rem;
    }
    p.icon-links a {
      font-size: 1.15rem;
      //padding: 0 0.5rem;
      //margin-top: -0.1rem;

    }
  }

}

.artist-2 {

  background: url("../img/Instagram-rutor-2.jpg");
  background-size: contain;
}

.artist-3 {
  background: url("../img/Instagram-rutor-3.jpg");
  background-size: contain;

}

.artist-4 {

  background: url("../img/Instagram-rutor-4.jpg");
  background-size: contain;

}

.artist-5 {
  .description {
    padding: 0 0.8em;
  }
  background: url("../img/Instagram-rutor-5.jpg");
  background-size: contain;
}

.artist-6 {

  background: url("../img/Instagram-rutor-6.jpg");
  background-size: contain;
}

.artist-7 {
  background: url("../img/Instagram-rutor-7.jpg");
  background-size: contain;
}

.artist-8 {
  background: url("../img/Instagram-rutor-8.jpg");
  background-size: contain;
}

.artist-9 {
  background: url("../img/Instagram-rutor-9.jpg");
  background-size: contain;
  p.description {
    padding: 1.2em;
  }
}

.artist-10 {
  background: url("../img/Instagram-rutor-10.jpg");
  background-size: contain;
}

.artist-11 {
  background: url("../img/Instagram-rutor-11.jpg");
  background-size: contain;
}

.artist-12 {
  background: url("../img/Instagram-rutor-12.jpg");
  background-size: contain;
  #klubb-caption {
    height: 6.75rem;
    .icon-links {

      text-align: right;

      a {

        float: none;

        position: relative;
      }
    }

    #din-mamma-caption {

    }
    #republik-caption {

      h2 {
        padding-top: 0.75rem;
      }
      .icon-links a {
        padding-top: 0.75rem;
        //transform: none;
      }
    }
  }
}

@media (min-width: 1735px) {

  #spotify-siderbar-large-screens {
    display: inherit;
    width: 300px;
    height: 500px;
    position: fixed;

    top: 60px;
    text-align: center;
    h3 {
      font-family: $robotomono;
      font-weight: 500;
      font-size: 1.2rem;
      color: $green-dark;
    }

  }

}

#spotify-medium {
  display: none
}

// medium devices
@media (min-width: 1199.98px) and (max-width: 1734px) {

  #spotify-medium {
    display: flex;

    iframe {
      box-sizing: border-box;
      padding: 6px;
      width: 100%;
      height: 100%;
    }
  }
}

// tablet
@media (min-width: 992px) and (max-width: 1199.98px) {

  figure p.description {
    font-size: 66%;
  }
}

// medium-small devices
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    padding: 100px;
  }
  .artist-5 {
    .description {
      padding: inherit;
    }
  }
}

@media (max-width: 1199.98px) {
  #spotify-siderbar-mobile-screens {
    margin-top: 1rem;
    display: inherit;
    //width: 300px;
    //height: 500px;

    text-align: center;
    h3 {
      font-family: $robotomono;
      font-weight: 500;
      font-size: 1.2rem;
      color: $green-dark;
    }

  }
}

// iphone 7,8
@media (max-width: 576px) {
  #flower-footer {
    #logo-bottom {
      #footer-contact-row {
        visibility: hidden;
        margin-top: 0;
      }
    }
  }
  figure p.description {
    font-size: 75%;
  }
  .container {
    padding: 4px 4px 30vw 4px;
  }

}

// iphone 4,5
@media (max-width: 374.98px) {

  figure p.description {
    font-size: 66%;

  }
  iframe {
    height: 300px;
  }

}
