@import "variables";
body {
  background: #f7f7f7;
}

.container{
  padding: 4px 4px 18vw 4px;
  outline: 30px solid white;

  background: white;
}

#poster-17{
  margin: 15px;
  max-width: 100%;
  max-height: 90vh;
}




@media (max-width: 767px) {


  #flower-footer {
    #logo-bottom {
      #footer-contact-row {
        visibility: hidden;
        margin-top: 0;
      }
    }

  }

}
