@import "variables";

$caption-color: $bluegreen-darker;

body {
  background: #f7f7f7;

}

.container {
  padding: 4px 4px 18vw 4px;
  outline: 30px solid white;
  background: white;

}

#title-line-up {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  h1 {
    font-size: 3em;
    color: white;
    font-family: $robotomono;
    font-weight: 700;
    background: #1e3437;
    display: inline-block;
  }

  h2 {
    font-size: 2.5em;
    font-family: $robotomono;
    font-weight: 500;
    color: $bluegreen-darker;

  }

}

.col-lg-4 {
  border: 1px solid white;
  z-index: 100;

}

.tba {
  text-align: center;
  &:hover {
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    .tba-text {
      opacity: 1;
    }
  }

  .tba-text {
    font-size: 4rem;
    position: relative;
    top: 40%;
    font-family: $robotomono;
    font-weight: 600;

    &:after {
      transform: translateY(-40%);
    }
  }
}

.text-accent {
  color: $yellow;
}

figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-bottom: 0;

  text-align: center;
  cursor: pointer;
  img {
    position: relative;
    display: block;

    max-width: 100%;
    opacity: 1;
  }
  h2{
    padding:  0.2rem 0px;
    font-size: 1.6rem;
  }
  figcaption {
    // Ta bort markerbar text
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */

    color: #fff;
    background: #fff;
    text-transform: uppercase;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &::before,
    figure figcaption::after {
      pointer-events: none;

    }

  }
  figcaption,
  figcaption > a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  h2 {
    font-family: $poppins;
    font-weight: 300;
  }
  h2,
  p {
    margin: 0;
  }
  p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }
}

/*---------------*/
/***** Effect *****/
/*---------------*/

figure {
  figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3.75em;
    font-size: 1.25em;
    color: #1F3437;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  h2 {
    float: left;
    display: inline-block;

  }
  p.icon-links a {
    float: right;
    color: #0E664E;
    font-size: 1.4em;
  }
  p.description {

    font-family: $robotomono;
    //margin-left: -1em;
    position: absolute;
    bottom: 5em;
    padding: 1.4em;
    color: #fff;
    text-transform: none;
    font-size: 80%;
    opacity: 0;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  h2,
  p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
  p.icon-links a {
    display: inline-block;
    padding: 8px 8px;
  }

  &:hover p.icon-links a:hover,
  &:hover p.icon-links a:focus {
    color: #A0D1BB;
  }

  &:hover p.description {
    opacity: 1;
  }
  &:hover img {

    opacity: 0.8;
    filter: brightness(50%);
    -webkit-transform: translateY(-3.75em);
    transform: translateY(-3.75em);

    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in;
    transition-property: transform, opacity, filter;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;

  }

  &:hover figcaption,
  &:hover h2,
  &:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }

  &:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  &:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }

  &:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

}

.artist-1 {

  h2 {
    //  padding: 5px;
    // font-size: 1.6rem;
  }
  background: url("../img/Instagram-rutor-1.jpg");
  background-size: contain;

}

.artist-2 {
  h2 {
    //  padding: 3px;
    // font-size: 1.8rem;
  }
  background: url("../img/Instagram-rutor-2.jpg");
  background-size: contain;
}

.artist-3 {
  background: url("../img/Instagram-rutor-3.jpg");
  background-size: contain;

}

.artist-4 {
  h2 {
    // padding: 3px;
    //font-size: 1.8rem;
  }
  .description {
    //  padding: 1.4em 1.3em;
  }
  //background: url("../img/Instagram-rutor-4.jpg");
  //background-size: contain;

}

.artist-5 {
  .description{
    font-size: 75%;
    padding-bottom: 1em;
  }
  //background: url("../img/Instagram-rutor-5.jpg");
  //background-size: contain;
}

.artist-6 {
  background: url("../img/Instagram-rutor-6.jpg");
  background-size: contain;
}

.artist-7 {
  background: url("../img/Instagram-rutor-7.jpg");
  background-size: contain;
}

.artist-8 {
  background: url("../img/Instagram-rutor-8.jpg");
  background-size: contain;
}

.artist-9 {
  background: url("../img/Instagram-rutor-9.jpg");
  background-size: contain;
}

.artist-10 {
  background: url("../img/Instagram-rutor-10.jpg");
  background-size: contain;
}

.artist-11 {
  background: url("../img/Instagram-rutor-11.jpg");
  background-size: contain;
}

.artist-12 {
  background: url("../img/Instagram-rutor-12.jpg");
  background-size: contain;
}

#flower-footer {
  margin-top: -18%;
  position: absolute;
  width: 100%;
  left: 0;

  #pattern {
    position: absolute;
    width: 100%;

    margin-top: -18%;

  }

  #logo-bottom {
    position: absolute;
    width: 100%;

    img {

      max-width: 25%;
      display: block;
      position: absolute;

      left: 0;
      right: 0;

      margin: auto;
      margin-top: 8.1vw;
    }
    #footer-contact-row {

      max-width: 25%;
      display: block;
      position: absolute;
      width: 8rem;
      font-size: 2rem;
      a {
        display: inline-block;
        color: black;
        &:hover,
        &:focus {
          color: $green-light;
        }
      }

      left: 0;
      right: 0;

      margin: auto;
      margin-top: 19vw;
    }
  }

}

/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  figure p.icon-links a {
    padding: 5px 10px;
  }

}

/****Only on tablet******/
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    padding: 100px;
  }
  figure p.description {

    padding: 2em 4em 8em 4em;

  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  figure figcaption {
    padding: 20px 10px 20px 10px;
    h2 {
      padding: 5px 3px;
      font-size: 1.1em;
    }
  }
  figure p.description {

    padding: 1.2em;
    font-size: 70%;

  }
  .artist-5 {
    .description{
      padding: 1.1em 0.8em;
      font-size: 65%;

    }
  }

}
// TODO: gör script att beräkna positionen för p.description
@media (max-width: 768px) {
  #title-line-up h2 {
    padding: 2px;
    font-size: 1.5em;
  }

  figure p.description {

    padding: 1.2rem;
    font-size: 80%;

  }



  figure p.icon-links a {

    padding: 4px 8px;
  }

  figure figcaption {
    padding: 20px 10px 20px 10px;
    h2 {
      padding: 5px 3px;
      font-size: 1.2em;
    }
  }

  #flower-footer {
    #logo-bottom {
      #footer-contact-row {
        visibility: hidden;
        margin-top: 0;
      }
    }

  }
}

// really small screens
@media (max-width: 568px) {

  figure p.description {

    padding: 1em 1em 0.5em 1em;
    font-size: 66%;

  }

  .artist-5 {
    .description{
      font-size: 62%;
      margin-bottom: 1em;
    }
  }

  figure figcaption {
    padding: 20px 10px 20px 10px;
    h2 {
      padding: 5px 3px;
      font-size: 1.1em;
    }
  }
}
