@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,600');

$font: 'Poppins', sans-serif;
$weight: 600;
$primary-color: white;
$size: 1.1rem;

#desktop-logo{
  display: none;
}

#navbar-placeholder{
  height: 56px;   //gör om till rem!!
}


/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #navbar-placeholder{
    height: 64px; //gör om till rem!!
  }
  #mobile-logo{
    display: none;
  }
  #desktop-logo{
    display: inherit;
  }
  .nav-item{
    width: 100px;
    .nav-link{
      text-align: center;

    }
  }
  #desktop-logo{
    height: 3rem;
  }
}


#mobile-logo{
  height: 40px;
}

.navbar-brand{
  margin: 0 2rem 0 2rem;
  img{
    max-width:100%;
    max-height:100%;
  }
}


.nav-link{
  text-align: right;

}

.navbar-nav > li >a{
  font-family: $font;
  font-weight: $weight;
  color: $primary-color;
  font-size: $size;
}


nav{
  background-image: url("../img/fb-bild.jpg");
  background-size: cover;
}