@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

$font: 'Roboto', sans-serif;
$primary-color: white;

#desktop-logo{
  display: none;
}

/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #mobile-logo{
    display: none; //visible on mobile
  }
  #desktop-logo{
    display: inherit;
  }
  .nav-item{
    width: 100px;
    .nav-link{
      text-align: center;

    }
  }
}



.navbar-brand{
  img{
    height: 2rem;

  }
  margin: 0 2rem 0 2rem;
}
.nav-link{
  text-align: right;

}

.navbar-nav > li >a{
  font-family: $font;
  font-weight: 500;
  text-transform: uppercase;
  color: $primary-color;
}


nav{
  background-image: url("../img/fb-bild.jpg");
  background-size: cover;
}