@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700');

$robotomono: 'Roboto', monospace;

#sponsors{
  max-width: 600px;

  img{
    max-width: 80%;

  }
}
.col-md-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: $robotomono;
  font-weight: 700;
}