@import url('https://fonts.googleapis.com/css?family=Poppins:300,600');

$font: 'Poppins', sans-serif;
$weight: 600;
$primary-color: black;
$size: 1.1rem;
$nav-height: 2.8rem;

#desktop-logo {
  display: none;
}

#navbar-placeholder {
  height: $nav-height;
}

.navbar {

  min-height: $nav-height;
  padding: 0 0.5rem 0 0.5rem;

  background: white;
}
.navbar-brand {
  padding: 5px;
  margin: 0;
  height: $nav-height;


  img {
    max-width: 100%;
    max-height: 100%;
  }
}


.nav-link {
  text-align: right;

}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-family: $font;
  font-weight: $weight;
  color: $primary-color;
  font-size: $size;

}

.navbar-nav .dropdown-menu {
  text-align: right;
  width: 6rem;
  float: right;
  border: none;
  a{
    font-weight: 600;
  }
}

/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #mobile-logo {
    display: none;
  }
  #desktop-logo {
    display: inherit;

    padding: 3px 1.8rem 3px 1.8rem;
  }
  .nav-item {
    width: 100px;
    .nav-link {
      text-align: center;
    }
  }

  .navbar-nav .dropdown-menu {
    text-align: inherit;
    width: inherit;
    float: inherit;

  }
}

