@import "variables";

$text-color: white;
$size: 1.1rem;
$nav-height: 2.8rem;


#desktop-logo {
  display: none;
}

#navbar-placeholder {
  height: $nav-height;
}

.navbar {
  min-height: $nav-height;
  padding: 0 0.5rem 0 0.5rem;
  background: $green-light;
}

.navbar-brand {
  padding: 5px;
  margin: 0;
  height: $nav-height;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.nav-link {
  text-align: right;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  font-family: $poppins;
  font-weight: 600;
  color: $text-color;
  font-size: $size;
  &:hover{
    color: $yellow;
  }
}

.navbar-nav .dropdown-menu {
  outline: 2px solid white;
  text-align: right;
  width: 6rem;
  float: right;
  border: none;
  background-color: $green-light;
  border-radius: 0;
  a{
    font-weight: 600;
    color: $text-color;
    &:focus{
      background-color: transparent;
      color: $yellow;
    }
    &:hover{
      background-color: transparent;
      color: $yellow;
    }
  }
  .show{

  }
}


/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #mobile-logo {
    display: none;
  }
  #desktop-logo {
    display: inherit;
    padding: 3px 1.8rem 3px 1.8rem;
  }
  .nav-item {
    width: 100px;
    .nav-link {
      text-align: center;
    }
  }
  .navbar-nav .dropdown-menu {
    text-align: inherit;
    width: inherit;
    float: inherit;
  }
}

