@import "variables";

$forkop-color-1: $green-dark;
$forkop-color-2: $bluegreen-light;
$early-color: $yellow;

$box-size: 360px;
html, body {
  height: 100%;
}

body {
  background: #f7f7f7;


}

.container {

  padding: 25px;
  padding-bottom: 18vw;
  outline: 30px solid white;
  background: white;
  min-height: 85vh;

}

#title {
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  h1 {
    font-size: 3em;
    color: white;
    font-family: $robotomono;
    font-weight: 700;
    background: #1e3437;
    display: inline-block;
  }

  h2 {
    font-size: 2.5em;
    font-family: $robotomono;
    font-weight: 500;
    color: $bluegreen-darker;

  }
}

.col-lg-4{
  padding:25px;
}

.ticket{
  text-align: center;
  min-width: 270px;
  z-index: 20;

  figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    figcaption {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  img {

    max-width: 100%;
    position: relative;
    display: block;
  }
  h1{
    font-family: $poppins;
    font-weight: 600;
    color: $yellow;
  }
  h2{
    margin-top: 25%;
    font-family: $robotomono;
    font-weight: 500;
    color: $bluegreen-darker;
  }
  h3{
    font-size: 1.7rem;
    font-family: $robotomono;
    font-weight: 500;
    color: $bluegreen-darker;
  }
  p{
    font-family: $poppins;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  &:hover{
    img{
      opacity: 0.7;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;


      }
    #early-btn{
      color: $bluegreen-dark;
    }
    #forkop-btn{
      color: $forkop-color-1
    }
  }



  .fun-btn{

    font-family: $robotomono;
    font-weight: 600;
    background: none;
    border: 2px solid;
    border-bottom-width: 4px;
    margin: 0.5em;
    padding: 0.7em 1.5em;
    text-transform: inherit;
    transition: color 1s;
    cursor: pointer;


    color: $early-color;


    &:focus {
      outline: 0;
    }
  }
  #forkop-btn{
    color: $forkop-color-2;
  }

  &:hover{
    img{
      opacity: 0.7;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;


    }
    #early-btn{
      color: $bluegreen-dark;
      animation: sawtooth 0.35s infinite linear;
      background: linear-gradient(45deg, $early-color 0.5em, transparent 0.5em) 0 0 / 1em 1em
      , linear-gradient(-45deg, $early-color 0.5em, transparent 0.5em) 0 0 / 1em 1em;
    }
    #forkop-btn{
      color: $forkop-color-1;
      animation: sawtooth 0.35s infinite linear;
      background: linear-gradient(45deg, $forkop-color-2 0.5em, transparent 0.5em) 0 0 / 1em 1em
      , linear-gradient(-45deg, $forkop-color-2 0.5em, transparent 0.5em) 0 0 / 1em 1em;
    }
  }

  @keyframes sawtooth {
    100% {
      background-position: 1em 0;
    }
  }



}


#logo-bottom {
  position: absolute;
  width: 100%;

  img {

    max-width: 25%;
    display: block;
    position: absolute;

    left: 0;
    right: 0;

    margin: auto;
    margin-top: 8.1vw;
  }
  #footer-contact-row {

    max-width: 25%;
    display: block;
    position: absolute;
    width: 8rem;
    font-size: 2rem;
    a {
      display: inline-block;
      color: black;
      &:hover,
      &:focus {
        color: $green-light;
      }
    }

    left: 0;
    right: 0;

    margin: auto;
    margin-top: 20vw;
  }
}

/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  #title-line-up {
    h1 {
      font-size: 6rem;
    }
  }

}

/****Only on tablet******/
@media (min-width: 768px) and (max-width: 991.98px) {
  .container{
    padding: 100px;
  }
}
/***mobile**/
@media (max-width: 575.98px) {
  #logo-bottom {
    #footer-contact-row {
      visibility: hidden;
      margin-top: 0;
    }
  }

}
