@import "variables";

$box-size: 360px;

body {
  background: #f7f7f7;

}

.container {

  padding: 4px;
  outline: 30px solid white;
  background: white;
  min-height: 70vh;

}

#title{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  h1 {
    font-size: 3rem;
    color: white;
    font-family: $robotomono;
    font-weight: 700;
    background: #1e3437;
    display: inline-block;

  }
}
#ticket-row{

}

#ticket-1{
  height: $box-size;
  width: $box-size;
  background: url("../img/Location-East_biljett-1.jpg");
  background-size:     cover;

}
#ticket-2{
  height: $box-size;
  width: $box-size;
  background: url("../img/Location-East_biljett-2.jpg");
  background-size:     cover;

}
#ticket-3{
  height: $box-size;
  width: $box-size;
  background: url("../img/Location-East_biljett-3.jpg");
  background-size:     cover;

}


#logo-bottom {
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 50px;
  max-width: 25vw;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #logo-bottom {
    max-width: 10vw;
  }
  #title-line-up {
    h1 {
      font-size: 6rem;
    }
  }
}
