@import "variables";

$box-size: 300px;

body {
  background: #f7f7f7;

}

.container {

  padding: 4px;
  outline: 30px solid white;
  background: white;
  min-height: 70vh;

}

#title{
  text-align: center;
  margin-top: 3rem;
  h1 {
    font-size: 3rem;
    color: white;
    font-family: $robotomono;
    font-weight: 700;
    background: #1e3437;
    display: inline-block;

  }
}
#ticket-row{
  margin: 100px;
}

#ticket-1{
  height: $box-size;
  width: $box-size;
  background: url("../img/Instagram-rutor-1.jpg");

}
#ticket-2{
  height: $box-size;
  width: $box-size;
  background: url("../img/Instagram-rutor-2.jpg");

}
#ticket-3{
  height: $box-size;
  width: $box-size;
  background: url("../img/Instagram-rutor-3.jpg");

}


#logo-bottom {
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 50px;
  max-width: 25vw;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

/*************DESKTOP LAYOUT*************/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #logo-bottom {
    max-width: 10vw;
  }
  #title-line-up {
    h1 {
      font-size: 6rem;
    }
  }
}
